{% extends 'home.html' %}
{% load static %}
{% block title %}Catogory{% endblock %}
{% block content %}
{% block catactive %}active{% endblock%}
<div class="container-fluid  dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">View Category </h2>
                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                    amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Category</a></li>
                            <li class="breadcrumb-item active" aria-current="page">company list</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->





    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4></h4>
                <p class="mb-3"></p>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="@mdo">Add Category</button>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- momant -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!-- catogary form  -->
                    <form action="{% url 'get_catogory'%}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Category name</label>
                            <input type="text" class="form-control" name="catogary" placeholder="Category name"
                                id="recipient-name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                    <!-- catogary form  -->

                </div>

            </div>
        </div>
    </div>


    <!-- momant end -->




    <div class="row">
        <!-- ============================================================== -->
        <!-- data table  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Category</h5>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered second" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Category</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in catogary %}

                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.category}}</td>

                                    <td> <span><a href="h" class="mr-4" data-toggle="tooltip" data-placement="top"
                                                title="Edit"><i class="fa fa-edit color-muted"></i> </a>


                                            <a href="{% url 'delete_category' id=i.id %}" data-toggle="tooltip"
                                                data-placement="top" title="Delete"><i
                                                    class="fa fa-trash color-danger"></i></a></span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Category</th>

                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end data table  -->
        <!-- ============================================================== -->
    </div>


</div>
{% endblock %}